body {
    margin: 0;


}

header {

    height: 60px;
    text-align: center;

}

.countdown-area {
    text-align: center;
    font-size: large;
}

.game-area {
    width: 100%;
}

.question {
    text-align: center;
}

.control-area {
    padding: 10px;
    text-align: center;
}

.btn {
    width: 120px;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
    border-color: blue;
    color: blue;
}

.btn:hover {
    background-color: darkblue;
    color: white;
}

.images-area {

    display: flex;
    justify-content: space-evenly;
    text-align: center;
    height: 400px;
}



.score-area {
    display: flex;
    justify-content: space-evenly;
    font-size: large;
}

.message {
    padding-top: 40px;
    text-align: center;
    font-size: x-large;
}


footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    height: 60px;
    color: white;
    font-size: 150%;

}