@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Lobster&display=swap');

body {
    margin: 0;
    background-color: aquamarine;
}

header {

    height: 30px;
    text-align: center;
    font-family: Alkatra, sans-serif;

}

.question {
    text-align: center;
    font-family: Alkatra, sans-serif;

}

.countdown-area {
    text-align: center;
    font-size: large;
    font-family: Lobster, sans-serif;
}

.game-area {
    width: 100%;
}


.control-area {
    padding: 30px;
    text-align: center;
}

.btn {
    width: 120px;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
    border-color: blue;
    color: blue;
}

.btn:hover {
    background-color: darkblue;
    color: white;
}

.images-area {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    height: 400px;
}



.score-area {
    display: flex;
    justify-content: space-evenly;
    font-size: x-large;
    font-family: Lobster, sans-serif;
}

.message {
    padding-top: 40px;
    text-align: center;
    font-size: x-large;
}


footer {
    width: 100%;
    text-align: center;
    height: 60px;
    font-size: 150%;
    font-family: Alkatra, sans-serif;
}

/* Media queries */

/* From 900 down */
@media screen and (max-width: 900px) {

    .images-area {
        text-align: center;
        height: 200px;
    }
}

/* From 430 down */
@media screen and (max-width: 430px) {
    header {
        line-height: 40px;
        padding-bottom: 20px;
    }

    .question {
        line-height: 40px;
    }
}